/* Buttons  */
.btn-secondary,
.btn-primary {
  display: inline-block;
  border-radius: 5px;
  padding: 8px 20px;
  margin: 3px;
}
.btn-secondary:hover,
.btn-primary:hover {
  transform: scale(0.98);
}

.btn-primary {
  background-color: #8a8a8a;
  // blue background
  color: #fff;
}

.btn-secondary {
  background-color: #a1a1a1;
  background-color: orange;
  color: #fff;
}
